<html>
    <header>
        <title>Bienvenido a OnlyFlans</title>
    </header>
    <body>
        {% extends "web/base.html" %}

{% block title %}Índice{% endblock %}

{% block content %}
{% load static %}
<div class="container my-4">
    <h2 class="text-center mb-4">Productos Disponibles</h2>
    <div class="row">
        {% for producto in productos %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static producto.imagen %}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <p class="card-text"><strong>{{ producto.precio }}</strong></p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

    </body>
</html>