<html>
    <header>
        <title>OnlyFlans</title>
    </header>
    <body>
        {% extends "web/base.html" %}
        {% load static %}

{% block title %}Bienvenido{% endblock %}


{% block content %}
<h1>Bienvenido {{ user.get_username }}</h1>

<div class="container my-4">
    <h2 class="text-center">Flanes Exclusivos</h2>

    <div id="bienvenidoCarrusel" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#bienvenidoCarrusel" data-slide-to="0" class="active"></li>
            <li data-target="#bienvenidoCarrusel" data-slide-to="1"></li>
            <li data-target="#bienvenidoCarrusel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/imagen1.jpg' %}" class="d-block w-100" alt="Postre 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-4">Deliciosos Flanes Gourmet</h5>
                    <p >Un sabor exquisito y textura perfecta.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/imagen2.jpg' %}" class="d-block w-100" alt="Postre 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-4">Ingredientes Frescos y Naturales</h5>
                    <p>Solo lo mejor para nuestros postres artesanales.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/imagen3.jpg' %}" class="d-block w-100" alt="Postre 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-4" >Ideal para cualquier ocasión</h5>
                    <p>Un toque dulce que encanta a todos.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#bienvenidoCarrusel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#bienvenidoCarrusel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    
    <div class="row">
        {% for flan in flanes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ flan.name }}</h5>
                        <p class="card-text">{{ flan.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

    </body>
</html>
